<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Explore <%= response.name %></title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h2><a href="/">The Fooding Project</a></h2>
      </header>
      <h1>Explore <%= response.name %></h1>
      <br />
      <hr />
      <div class="card-container">
        <% response.restaurants.forEach(function(rest) { %>
        <div class="card">
          <h2><%= rest.name %></h2>
          <p><%= rest.location %></p>
          <img
            src="../assets/<%= rest.food_category %>.jpg"
            alt="<%= rest.name %> image"
            width="100px"
            height="100px"
          />
          <p><%= rest.food_category %> Cuisine</p>
          <div>
            <img
              src="../assets/ratings/rating-<%= rest.overall_stars %>.png"
              alt="Rating: <%= rest.overall_stars %> stars"
              height="25px"
            />
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </body>
</html>
